<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-github"></i></a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i>QuickMart</h6>
                    <p>
                        QuickMart.com is a one step destination for your family's fashion needs.
                        we give you the opportunity to give your wardrobe a makeover with the latest collection from our top brand .
                    </p>
                </div>

                <div class=" col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-reset">Electronics</a></p>
                    <p><a href="#!" class="text-reset">Furniture</a></p>
                    <p><a href="#!" class="text-reset">Grocreies</a></p>
                    <p><a href="#!" class="text-reset">Mobiles</a></p>
                </div>
                <div class=" col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a href="#!" class="text-reset">quickmart@gamil.com</a></p>
                    <p><a href="#!" class="text-reset">QuickMart.instagram.com</a></p>
                    <p><a href="#!" class="text-reset">QuickMart.support.com</a></p>
                    <p><a href="#!" class="text-reset">QuickMart.facebook.com</a></p>
                </div>
                <div class=" col-md-2 col-lg-2 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-home"></i>Stephen</p>
                    <p><i class="fa fa-envelope"></i>stephenlogesh2@gmail.com</p>
                    <p><i class="fa fa-phone"></i>+ 91 8838815765</p>
                </div>

            </div>
        </div>
    </section>
    <div class="text-center p-4">
        &copy; 2024 Copyright <a href="#" class="text-reset fw-bold">Stephen.in</a>
    </div>
</footer>